<form>
    <img src="/assets/imgs/Equipamento.png" alt="">

    <input type="text" placeholder="Nome" class="form-control" name="nome" [(ngModel)]="equipamento.nome">
    <input type="text" placeholder="Descrição" class="form-control" name="descricao" [(ngModel)]="equipamento.descricao">
    <input type="text" placeholder="Número de Série" class="form-control" name="serialNumber" [(ngModel)]="equipamento.serialNumber">
    <input type="text" placeholder="Informações Adicionais" class="form-control" name="informacoesAdicionais" [(ngModel)]="equipamento.informacoesAdicionais">
    <input type="text" placeholder="Cliente" class="form-control" name="cliente" [(ngModel)]="equipamento.cliente">
    <input type="text" placeholder="Entregue por" class="form-control" name="entreguePor" [(ngModel)]="equipamento.entreguePor">
    <input type="text" placeholder="Recebido por" class="form-control" name="recebidoPor" [(ngModel)]="equipamento.recebidoPor">

    <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary" (click)="cadastrar()">
    <input type="button" value="Alterar" *ngIf="!btnCadastro" class="btn btn-warning" (click)="alterar()">
    <input type="button" value="Remover" *ngIf="!btnCadastro" class="btn btn-danger" (click)="remover()">
    <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary" (click)="cancelar()">
</form>

<!--<h1>{{equipamento | json}}</h1> -->

<table class="table" *ngIf="tabela">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Número de Série</th>
            <th>Informações Adicionais</th>
            <th>Cliente</th>
            <th>Entregue por</th>
            <th>Recebido por</th>
            <th>Data de Cadastro</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let e of equipamentos; index as i">
            <td>{{i+1}}</td>
            <td>{{e.nome}}</td>
            <td>{{e.descricao}}</td>
            <td>{{e.serialNumber}}</td>
            <td>{{e.informacoesAdicionais}}</td>
            <td>{{e.cliente}}</td>
            <td>{{e.entreguePor}}</td>
            <td>{{e.recebidoPor}}</td>
            <td>{{e.dataCriacao}}</td>
            <td><button class="btn btn-success" (click)="selecionarEquipamento(i)">Selecionar</button></td>
        </tr>
    </tbody>
</table>